{% extends "billsplit/index.html" %}

{% block title %}login{% endblock %}

{% block body %}
<div class="limit">
    <div class="login-container">
        <div class="bb-login">
            <H2 >Welcome !</H2><h5 >Enter your details to login.</h5>
        <!--INSERT FORM HERE-->
            
            <form method="POST" >
                {% csrf_token %}
                <div class="mb-3">
                    <label for="username" class="form-label">Username</label>
                    <input type="text" class="form-control" id="username" name="username" aria-describedby="help">
                    <div id="help" class="form-text">We'll never share your details with anyone else.</div>
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" class="form-control" id="password" name="password">
                </div>
                <div class="text-center">
                    <button type="submit" class="btn btn-dark">Login</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}