{% extends "billsplit/index.html" %}

{% block title %}dashboard{% endblock %}


{% block body %}
<section class="">

    <div class="container-fluid">
      <div class="row">


        <div class="col-md-9 vh-100">
            <br><br><br>
            <div class="row">
                <div class="col-12 align-self-center">
                    <h1 class="text-center">My Groups</h1>
                    <form action= "{% url 'app-add-group' %}"  method="POST">
                      {% csrf_token %}
                      <input type="text" class="form-control" id="content" name="groupname" placeholder="Group Name">
                      <input type="Submit" class="form-control" value="Add Group">
                  </form>
                </div>
            </div>
            
            <div class="row">
                <div class="col-12 align-self-center">
                   
                <table class="table table-hover">
                    <colgroup>
                        <col span="1" style="width: 10%;">
                        <col span="1" style="width: 70%;">
                        <col span="1" style="width: 20%;">
    
                     </colgroup>
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">Name</th>
                        <th scope="col">Members</th>
                      </tr>
                    </thead>
                    <tbody>
                      <td colspan = "3" class="text-center">Created Groups</td>
                      {% for group in groups %}
                        <tr>
                          <th scope="row">{{ forloop.counter }}</th>
                          <td><a href="{% url 'app-group' group_id=group.id %}">{{ group.name }}</a></td>
                          <td>{{ group.member_count }}</td>
                        </tr>
                      {% endfor %}
                      <td colspan = "3" class="text-center">Other Groups</td>
                      {% for group in othergroups %}
                        <tr>
                          <th scope="row">{{ forloop.counter }}</th>
                          <td><a href="{% url 'app-group' group_id=group.id %}">{{ group.name }}</a></td>
                          <td>{{ group.member_count }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                  </table>
                </div>
            </div>
        
        </div>


        <div class="col-md-3 vh-100 align-items-center">
            <br><br><br>
            <div class="row row-gap-3 align-items-center">
                
                <div class="col-md-12">
                    <h1>Amount to be Received</h1>
                    <h2 class="text-success">Rs 5000</h2>
                </div>
                <br><br>
                <div class="col-md-12">
                    <h1>Amount in Debt</h1>
                    <h2 class="text-danger">Rs 5000</h2>
                </div>

            </div>
        </div>
      </div>
    </div>
  
  </section>
{% endblock %}