{% extends "billsplit/index.html" %}

{% block title %}group{% endblock %}


{% block body %}
<section class="">

    <div class="container-fluid">
      <div class="row">


        <div class="col-md-8 vh-100 border-end border-dark">
            <br><br><br>
            <div class="row">
                <div class="col-12 align-self-center">
                    <h1 class="text-center">Split</h1>
                   
                </div>
                <div class="col-12 text-center">
                  <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                    Add Bill
                  </button>
                  <div class="collapse" id="collapseExample">
                    <div class="card card-body">
                      {% if group.owner.username == request.user.username %}

                        <form action="{% url 'app-add-split-member' group_id=group.id owner_id=group.owner.id %}" method="post">
                            {% csrf_token %}
                            <input type="text" class="form-control" id="name" name="name" aria-describedby="help" placeholder="Enter the Bill Name">
                            <input type="text" class="form-control" id="amount" name="amount" aria-describedby="help" placeholder="Enter the Amount">

                            <select name="members" id="members" multiple>
                                {% for member in members %}                          
                                    <option value="{{ member.id }}">{{ member.username }}</option>                              
                                {% endfor %}
                            
                            </select>
                            <input type="submit" class="form-control" value="Add Bill">
                        </form>
                      {% endif %}
                    </div>
                  </div>
                </div>
            </div>
            
            <div class="row">
                <div class="col-12 align-self-center">
                   
                <table class="table table-hover">
                    <colgroup>
                        <col span="1" style="width: 10%;">
                        <col span="1" style="width: 70%;">
                        <col span="1" style="width: 20%;">
    
                     </colgroup>
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">Name</th>
                        <th scope="col">Members</th>
                      </tr>
                    </thead>
                    <tbody>
                      <!-- {% for group in groups %}
                        <tr>
                          <th scope="row">1</th>
                          <td>{{ group.name }}</td>
                          <td>{{ group.count }}</td>
                        </tr>
                      {% endfor %} -->
                    </tbody>
                  </table>
                </div>
            </div>
        
        </div>


        <div class="col-md-4 vh-100 align-items-center border-start border-dark">
            <br><br><br>
            <div class="row">
                <div class="col-12 align-self-center">
                    <h1 class="text-center">Members</h1>
                    {% if group.owner.username == request.user.username %}

                        <form action="{% url 'app-add-members' group_id=group.id %}" method="post">
                            {% csrf_token %}
                            <select name="users" id="users" multiple>
                                {% for user in users %}
                                    {% if user.username not in members %}
                                    <option value="{{ user.id }}">{{ user.username }}</option>
                                    {% endif %}
                                {% endfor %}
                            
                            </select>
                            <input type="submit" class="form-control" value="Add Members">
                        </form>
                    {% endif %}
                </div>
            </div>
            
            <div class="row">
                <div class="col-12 align-self-center">
                   
                <table class="table table-hover">
                    <colgroup>
                        <col span="1" style="width: 10%;">
                        <col span="1" style="width: 70%;">
                        <col span="1" style="width: 20%;">
    
                     </colgroup>
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">Name</th>
                        <th scope="col">Action</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for member in members %}
                        <tr>
                          <th scope="row">{{ forloop.counter }}</th>
                          <td>{{ member.username }}</td>
                          {% if member.username == group.owner.username %}
                            <td></td>
                          {% else %}
                          <td>
                          {% if group.owner.username == request.user.username %}
                            <a href="{% url 'app-remove-member' group_id=group.id member_id=member.id %}"> remove</a>
                          {% endif %}
                          </td>
                          {% endif %}

                        </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                </div>
            </div>
        
        </div>
      </div>
    </div>
  
  </section>

<script src="https://cdn.jsdelivr.net/gh/habibmhamadi/multi-select-tag/dist/js/multi-select-tag.js"></script>
<script>
    new MultiSelectTag('users')  // id
    new MultiSelectTag('members')  // id

</script>
{% endblock %}
